{% extends "annotation/extend_others.html" %}
{% load static %}
{% block js %}
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous">
</script>
<script type="text/javascript" src="{% static 'annotation/js/leader_note.js' %}"></script>
<script type="text/javascript">
$(function() {
$("#submit").click(function () {
    var json_obj ={
   "Document": {
      "event": [
         {
            "event_trigger": {
               "START": "26",
               "END": "27",
               "ROLE": "会谈",
               "text": "会谈"
            },
            "event_argument": [
               {
                  "START": "4",
                  "END": "6",
                  "ROLE": "参与方",
                  "text": "习近平"
               },
               {
                  "START": "20",
                  "END": "23",
                  "ROLE": "参与方",
                  "text": "杜特尔特"
               },
               {
                  "START": "26",
                  "END": "26",
                  "ROLE": "时间",
                  "text": "20"
               },
               {
                  "START": "11",
                  "END": "13",
                  "ROLE": "地点",
                  "text": "马尼拉"
               }
            ],
            "ID": "1",
            "TYPE": "会见会谈"
         },
         {
            "event_trigger": {
               "START": "24",
               "END": "27",
               "ROLE": "会谈",
               "text": "会谈"
            },
            "event_argument": [
               {
                  "START": "4",
                  "END": "6",
                  "ROLE": "参与方",
                  "text": "主席习近平"
               },
               {
                  "START": "20",
                  "END": "23",
                  "ROLE": "参与方",
                  "text": "总统杜特尔特"
               },
               {
                  "START": "7",
                  "END": "9",
                  "ROLE": "时间",
                  "text": "20日"
               },
               {
                  "START": "10",
                  "END": "13",
                  "ROLE": "地点",
                  "text": "马尼拉"
               }
            ],
            "ID": "1",
            "TYPE": "会见会谈"
         }
      ],
      "ID": "cc.txt"
   }
};
    var json_str = JSON.stringify(json_obj);
    $.post("/leader_note/", json_str);
})
}
</script>
{% endblock %}
{% block css %}
<style type="text/css">
.content{
  padding: 30px;
  width: 700px;
  line-height: 1.5em;
}
.custom-underline{
  border-bottom: 1px solid #f00;
  font-style: normal;
}
.nite-writer-pen{
  background-color: lightgreen;
  border-radius: 5px;
  font-style: normal;}
.ygh{
    background-color: white;
  border-radius: 5px;
  font-style: normal;}
  }
</style>
{% endblock %}
{% block content %}
<div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>Annotation</h3>
    <h2 id="filename">{{file.name}}</h2>
</div>
<div class="modal-dialog">
    <div  class="content">
        <span id="ori">
        {{file_content}}
        </span>
    </div>
    <div>
        <button type="button" class="btn btn-primary" onclick="mygreen()">green</button>
    </div>
    <div class="modal-footer">
        <div>
            <a href="{% url 'download' file.name %}">下载当前文本</a>
            <a href="{% url 'xml_download' file.name %}">下载xml文本</a>
        </div>
        <div>
        <button  class="btn btn-warning" id="submit">提交</button>
        <button class="btn btn-warning" name="return">
            <a href="{% url 'choose_text' %}" class="link_button ">退出</a>
        </button>
        </div>
    </div>

        {{message}}
</div>

{% endblock %}
