{% extends "annotation/extend_others.html" %}
{% load static %}
{% block js %}
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous">
</script>
<script type="text/javascript" src="{% static 'annotationtry/js/leader_note.js' %}"></script>
<script src="{% static 'annotationtry/js/mark.js' %}"></script>
<script src="{% static 'annotationtry/js/setrole.js' %}"></script>
<script src="{% static 'annotationtry/js/tojson.js' %}"></script>
<script >

$(function() {
    var t1 = {{t_json|safe}};
    console.log(t1);
    function compare(pro) {
        return function (obj1, obj2) {
            var val1 = obj1[pro];
            var val2 = obj2[pro];
            if (!isNaN(Number(val1)) && !isNaN(Number(val2))) {
                val1 = Number(val1);
                val2 = Number(val2);
            }
            if (val1 > val2 ) { //正序
                return 1;
            } else if (val1 < val2 ) {
                return -1;
            } else {
                return 0;
            }
        }
    }
    //这里event有可能是数组也有可能是对象，对象没有length属性，所以需要先判断一下。
    var getDataType = function(o){
        if(typeof o == 'object'){
            if( typeof o.length == 'number' ){
                return 'Array';
            }else{
                return 'Object';
            }
        }else{
            return 'param is no object type';
        }
    };
    var event = t1['Document']['event'];
    if (getDataType(event) == 'Array'){
        event = event;
    }
    else{
        event = [event];
    }
    console.log(event.length);
    var all_objects = [];
    for(var i = 0;i < event.length;i++){
        var event_type = event[i]['@TYPE'];
        var object = [];
        var e = event[i]['event_trigger'];
        console.log(e)
        object.push(e);
        var event_argument = event[i]['event_argument']
        for (var j = 0;j<event_argument.length;j++){
            object.push(event_argument[j]);
        }
        object.sort(compare("@START"));
        var objects = {
            "type":event_type,
            "min":object[0]['@START'],
            "node":object
        }
        all_objects.push(objects);
    }
    all_objects.sort(compare('min'));
    //排序，按事件块的先后,all_objects里面存的是几个事件。并且按照事件块的先后顺序排序
    var class_object = {
            "会见会谈" : {
                "会见会谈":'custom-underline',
                "参与方":'people-purple',
                "时间":'time-blue',
                "地点":'location-green'
            },
            "签署文件" : {
                "签署文件":'custom-underline',
                "签署方":'people-purple',
                "文件":'thing-yellow',
                "时间":'time-blue',
                "签署地点":'location-green'
            },
            "设施启用" : {
                "设施修建方":'custom-underline',
                "设施名称":'people-purple',
                "启用时间":'time-blue',
                "设施地点":'location-green'
            },
            "举行活动" : {
                "举行活动":'custom-underline',
                "举办方":'people-purple',
                "活动名称":'thing-yellow',
                "活动时间":'time-blue',
                "活动地点":'location-green'
            }
    };
    //console.log(all_objects);
    //大文本
    var text_content = document.getElementById('ori').firstChild.textContent;
    //父节点
    var father_text = document.getElementById('ori');
    father_text.removeChild(father_text.firstElementChild);
    //这个i类似一个指针，它标示现在已经添加过标签之后剩下的文本的最开始的位置
    var element_number = 0;
    var i = 0;
    //这个循环是对每一个事件的循环
    //alert(all_objects.length);
    for(var dex = 0;dex < all_objects.length;dex++){

        //这一部分是为了获取这一次循环对应的事件的属性，以便之后的属性设置
        var type = all_objects[dex]['type'];
        //alert(type);
        //所有事件类型对应的类名称
        var type_class = ['会见会谈','签署文件','设施启用','举行活动'];
        //所有的事件类颜色
        var css_class = [1,2,3,4];
        var index = type_class.indexOf(type);
        var event_idd = css_class[index];
        //alert(css_type);
        //这里是根据type的类型找出type对用的样式，以便在创建节点时的属性的设置

        //这个是当前的事件参数的数组
        var event_this_time = all_objects[dex]['node'];
        console.log(event_this_time);
        //这个j表示的是当前事件的事件参数数组的第j个数组值，这个循环是对事件的参数循环
        for(var j = 0;j < event_this_time.length;j++){
            if (i < Number(event_this_time[j]['@START']) - 1){
                //创建文本节点
                start_number =  Number(event_this_time[j]['@START']);
                var para = document.createElement("span");
                str_content = text_content.substring(i,start_number-1);
                var node = document.createTextNode(str_content);
                para.appendChild(node);
                father_text.appendChild(para);

                //alert('gfg');

                //创建当前事件参数节点
                var para = document.createElement("span");
                end_number = Number(event_this_time[j]['@END']);
                str_content = text_content.substring(start_number-1,end_number);
                var node = document.createTextNode(str_content);
                para.appendChild(node);
                para.setAttribute('element_number',element_number);
                class_set = class_object[type][event_this_time[j]['@ROLE']];
                para.className = class_set;
                para.id = event_this_time[j]['@START'] +'_' + event_this_time[j]['@END'];
                para.setAttribute('event_id',Number(event_idd));
                para.setAttribute('x',event_this_time[j]['@START']);
                para.setAttribute('y',event_this_time[j]['@END']);
                var bt =document.createElement("button");           //createElement生成button对象
                bt.innerHTML = '(X)';
                bt.setAttribute('type','button');
                bt.className = 'del';
                para.appendChild(bt);
                father_text.appendChild(para);


                //挪动指针
                i = end_number;
                //alert(i);
            }
            else{
                //直接创建当前事件参数节点
                start_number =  Number(event_this_time[j]['@START']);
                var para = document.createElement("span");
                end_number = Number(event_this_time[j]['@END']);
                str_content = text_content.substring(start_number-1,end_number);
                var node = document.createTextNode(str_content);
                para.appendChild(node);
                para.setAttribute('element_number',element_number);
                class_set = class_object[type][event_this_time[j]['@ROLE']];
                para.className = class_set;
                para.id = event_this_time[j]['@START'] +'_' + event_this_time[j]['@END'];
                para.setAttribute('event_id',Number(event_idd));
                para.setAttribute('x',event_this_time[j]['@START']);
                para.setAttribute('y',event_this_time[j]['@END']);


                var bt =document.createElement("button");           //createElement生成button对象
                bt.innerHTML = '(X)';
                bt.setAttribute('type','button');
                bt.className = 'del';
                para.appendChild(bt);
                father_text.appendChild(para);


                //挪动指针
                i = end_number ;
                //alert(i);
            }
        }
        element_number += 1;
    }
    var bt = $('.del');
    for(var i =0;i< bt.length;i++){
        bt[i].onclick = function () {
            var p = this.parentNode;
            var father = p.parentNode;
            var temp1=p.previousSibling;
            var temp2=p.nextSibling;
            if (temp1 && temp2){
                if (temp1.childNodes[1] && temp2.childNodes[1]){
                    var father = p.parentNode;
                    var para = document.createElement("span");
                    //content = p.textContent;
                    var node = document.createTextNode(p.firstChild.textContent);
                    para.appendChild(node);
                    father_text.removeChild(p);
                    father_text.insertBefore(para,temp2);
                }
                else if(temp1.childNodes[1] && !temp2.childNodes[1] ){
                    var next_text=temp2.textContent;
                    var all_text=p.firstChild.textContent + next_text;
                    temp2.textContent=all_text;
                    father.removeChild(p);
                }
                else if(temp2.childNodes[1] && !temp1.childNodes[1] ){
                    var pre_text=temp1.textContent;
                    var all_text=pre_text + p.firstChild.textContent;
                    temp1.textContent=all_text;
                    father.removeChild(p);
                }
                else{
                   var pre_text=temp1.textContent;
                   var next_text=temp2.textContent;
                   var all_text=pre_text+p.firstChild.nodeValue+next_text;
                   temp1.textContent=all_text;
                   father.removeChild(p);
                   father.removeChild(temp2);
                }
            }
            else if(temp2){
                if (temp2.childNodes[1]){
                    var father = p.parentNode;
                    var para = document.createElement("span");
                    //content = p.textContent;
                    var node = document.createTextNode(p.firstChild.textContent);
                    para.appendChild(node);
                    father_text.removeChild(p);
                    father_text.insertBefore(para,temp2);
                }
                else{
                    var next_text=temp2.textContent;
                    var all_text=p.firstChild.textContent + next_text;
                    temp2.textContent=all_text;
                    father.removeChild(p);
                }
            }
            else{
                if (temp1.childNodes[1]){
                    var father = p.parentNode;
                    var para = document.createElement("span");
                    //content = p.textContent;
                    var node = document.createTextNode(p.firstChild.textContent);
                    para.appendChild(node);
                    father_text.removeChild(p);
                    father_text.appendChild(para);
                }
                else{
                    var pre_text=temp1.textContent;
                    var all_text=pre_text + p.firstChild.textContent;
                    temp1.textContent=all_text;
                    father.removeChild(p);
                }
            }
        };
        }

    //alert('hhhhhh');
    jQuery(document).ajaxSend(function(event, xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function sameOrigin(url) {
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }
        function safeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    });
        $("#submit").click(function () {
        var event = create_json();
        array1 = event;
        console.log(array1);
        var json_str = JSON.stringify(array1);
        console.log(json_str);
        $.post('', json_str);
        });
})
</script>
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'annotationtry/css/note.css' %}"/>
{% endblock %}
{% block content %}<div class="container">
  <div class="row clearfix">
    <div class="col-md-4 column">

        <h2 id="filename">{{file.name}}</h2>
    </div>
    <div class="col-md-4 column">
    </div>
    <div class="col-md-4 column">
    </div>

  </div>
  <div class="row clearfix">
    <div class="col-md-4 column">
        <p><br/></p>
        <div>
            <button type="button" class="btn btn-danger btn-sm"
              onclick="mytrigger('custom-underline',(this.flag_te),'1')">会见会谈</button>
        </div>
        <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-primary"
              onclick="mymark('people-purple',this.flag_te,'1')">参与方</button>
            <button type="button" class="btn btn-primary"
              onclick="mymark('time-blue',this.flag_te,'1')">时间</button>
            <button type="button" class="btn btn-primary"
              onclick="mymark('location-green',this.flag_te,'1')">地点</button>
        </div><p><br/></p>
        <div>
    <button type="button" class="btn btn-danger btn-sm"
          onclick="mytrigger('custom-underline',(this.flag_te),'2')">签署文件</button>
</div>
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-primary"
          onclick="mymark('people-purple',this.flag_te,'2')">签署方</button>
        <button type="button" class="btn btn-primary"
          onclick="mymark('thing-yellow',this.flag_te,'2')">文件</button>
        <button type="button" class="btn btn-primary"
          onclick="mymark('time-blue',this.flag_te,'2')">签署时间</button>
        <button type="button" class="btn btn-primary"
          onclick="mymark('location-green',this.flag_te,'2')">签署地点</button>

    </div><p><br/></p>
    <div>
        <button type="button" class="btn btn-danger btn-sm"
          onclick="mytrigger('custom-underline',(this.flag_te),'3')">设施启用</button>
    </div>
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-primary"
          onclick="mymark('people-purple',this.flag_te,'3')">设施修建方</button>
        <button type="button" class="btn btn-primary"
          onclick="mymark('thing-yellow',this.flag_te,'3')">设施名称</button>
        <button type="button" class="btn btn-primary"
          onclick="mymark('time-blue',this.flag_te,'3')">启用时间</button>
        <button type="button" class="btn btn-primary"
          onclick="mymark('location-green',this.flag_te,'3')">设施地点</button>

    </div><p><br/></p>
    <div>
        <button type="button" class="btn btn-danger btn-sm"
          onclick="mytrigger('custom-underline',(this.flag_te),'4')">举办活动</button>
    </div>
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-primary"
          onclick="mymark('people-purple',this.flag_te,'4')">举办方</button>
        <button type="button" class="btn btn-primary"
          onclick="mymark('thing-yellow',this.flag_te,'4')">活动名称</button>
        <button type="button" class="btn btn-primary"
          onclick="mymark('time-blue',this.flag_te,'4')">活动时间</button>
        <button type="button" class="btn btn-primary"
          onclick="mymark('location-green',this.flag_te,'4')">活动地点</button>

    </div><p><br/></p>
    </div>

    <div class="col-md-5 column">
        <div class="content" >
            <span id="ori"><span>{{file_content}}</span></span> </div><p><br/></p><p><br/></p>
        <div class="btn-group btn-group-sm">
            <button  class="btn btn-success" id="submit">提交</button>
        <button class="btn btn-default" name="return">
            <a href="{% url 'choose_text' %}" class="link_button ">退出</a>
        </button></div>
        <div>
            <a href ="{% url 'leader_note1' file.name %}">另一个xml</a>
        </div><p><br/></p>
        {% if user.myuser.limits == 1%}
    <a class="myButton" href="{% url 'download' file.name %}">下载当前文本</a>
    {% endif %}
    <a class="myButton" href="{% url 'xml_download' file.name %}">下载xml文本</a>
    {{message}}



    </div>
      <div class="col-md-3 column">
<!--        <p><h5><strong>必看</strong></h5>1.对于某事件<strong>触发词</strong>的标注必须<strong>先</strong>于该事件的任何一个事件元素，当开始标注下一个触发词的时候，-->
<!--            默认上一个事件已标注完成。-->
<!--        </p>-->
<!--        <p>2.如需修改已标注的事件，请将该事件的触发词和所有的事件元素均删除，之后进行该事件的二次标注。</p>-->
    </div>

    </div>
</div>


{% endblock %}
