{% extends "annotation/extend_others.html" %}
{% load static %}
{% block js %}
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous">
</script>
<script type="text/javascript" src="{% static 'annotationtry/js/leader_note.js' %}"></script>
<script src="{% static 'annotationtry/js/mark.js' %}"></script>
<script src="{% static 'annotationtry/js/setrole.js' %}"></script>
<script src="{% static 'annotationtry/js/tojson.js' %}"></script>
<script >
$(function() {
    jQuery(document).ajaxSend(function(event, xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function sameOrigin(url) {
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }
        function safeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    });
     $("#submit").click(function () {
        var event = create_json();
        array1 = event;
        console.log(array1);
        var json_str = JSON.stringify(array1);
        console.log(json_str);
        $.post('', json_str);
        });
        })
</script>
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'annotationtry/css/note.css' %}"/>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row clearfix">
    <div class="col-md-4 column">

        <h2 id="filename">{{file.name}}</h2>
    </div>
    <div class="col-md-4 column">
    </div>
    <div class="col-md-4 column">
    </div>

  </div>
  <div class="row clearfix">
    <div class="col-md-4 column">
        <p><br/></p>
        <div>
            <button type="button" class="btn btn-danger btn-sm"
              onclick="mytrigger('custom-underline',(this.flag_te),'1')">会见会谈</button>
        </div>
        <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-primary"
              onclick="mymark('people-purple',this.flag_te,'1')">参与方</button>
            <button type="button" class="btn btn-primary"
              onclick="mymark('time-blue',this.flag_te,'1')">时间</button>
            <button type="button" class="btn btn-primary"
              onclick="mymark('location-green',this.flag_te,'1')">地点</button>
        </div><p><br/></p>
<div>
    <button type="button" class="btn btn-danger btn-sm"
          onclick="mytrigger('custom-underline',(this.flag_te),'2')">签署文件</button>
</div>
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-primary"
          onclick="mymark('people-purple',this.flag_te,'2')">签署方</button>
        <button type="button" class="btn btn-primary"
          onclick="mymark('thing-yellow',this.flag_te,'2')">文件</button>
        <button type="button" class="btn btn-primary"
          onclick="mymark('time-blue',this.flag_te,'2')">签署时间</button>
        <button type="button" class="btn btn-primary"
          onclick="mymark('location-green',this.flag_te,'2')">签署地点</button>

    </div><p><br/></p>
    <div>
        <button type="button" class="btn btn-danger btn-sm"
          onclick="mytrigger('custom-underline',(this.flag_te),'3')">设施启用</button>
    </div>
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-primary"
          onclick="mymark('people-purple',this.flag_te,'3')">设施修建方</button>
        <button type="button" class="btn btn-primary"
          onclick="mymark('thing-yellow',this.flag_te,'3')">设施名称</button>
        <button type="button" class="btn btn-primary"
          onclick="mymark('time-blue',this.flag_te,'3')">启用时间</button>
        <button type="button" class="btn btn-primary"
          onclick="mymark('location-green',this.flag_te,'3')">设施地点</button>

    </div><p><br/></p>
    <div>
        <button type="button" class="btn btn-danger btn-sm"
          onclick="mytrigger('custom-underline',(this.flag_te),'4')">举办活动</button>
    </div>
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-primary"
          onclick="mymark('people-purple',this.flag_te,'4')">举办方</button>
        <button type="button" class="btn btn-primary"
          onclick="mymark('thing-yellow',this.flag_te,'4')">活动名称</button>
        <button type="button" class="btn btn-primary"
          onclick="mymark('time-blue',this.flag_te,'4')">活动时间</button>
        <button type="button" class="btn btn-primary"
          onclick="mymark('location-green',this.flag_te,'4')">活动地点</button>

    </div><p><br/></p>
    </div>
    <div class="col-md-5 column">
        <div  class="content">
        <span id="ori">{{file_content}}</span> </div>
         <div class="btn-group btn-group-sm">
             <button type="submit" class="btn btn-warning">保存</button>

        <button  class="btn btn-success" id="submit">提交</button>
        <button class="btn btn-default" name="return">
            <a href="{% url 'choose_text' %}" class="link_button ">退出</a>
        </button>
    </div><p><br/></p>
        {% if user.myuser.limits == 1%}
    <a class="myButton" href="{% url 'download' file.name %}">下载当前文本</a>
    {% endif %}
    <a class="myButton" href="{% url 'xml_download' file.name %}">下载xml文本</a>
    {{message}}
    </div>
    <div class="col-md-3 column">
    </div>
</div>
</div>
{% endblock %}
