{% extends "annotation/extend_others.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后 ！ -->
    <title>读取本地txt</title>
</head>
<body>
<div class="page-container">
    <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <div>
        <input type="file" style="width: 20%" name="myfile" id="filename">
      </div>
      <div>
        <button class="btn btn-primary-outline radius size-S" type="submit" value="upload">提交</button>
      </div>
    </form>
</div>
</body>
<ml>
{% endblock %}