{% extends "annotation/extend_others.html" %}
{% load static %}
{% block js %}
{% endblock %}
{% block content %}
<html lang="zh-CN">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 上述meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap CSS -->
 <link rel="stylesheet" type="text/css" href="{% static 'annotationtry/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'annotationtry/css/bootstrap-theme.min.css' %}">
      <title>上传文档</title>
  </head>
<body>
<div class="modal-dialog">
    <div class="modal-content">
        <form class="form-horizontal" autocomplete="off" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
            <div class="modal-header">
              <button class="close" data-dismiss="modal">x</button>
               <h3>文件上传</h3>
            </div>
            <div class="modal-group">
                {{form.file_upload}}
            </div>
            <div class="modal-footer">
                <div class="text-center">
                <h5>{{message}}</h5>
                </div>
                <button class="btn btn-primary" type="submit">上传</button>
            </div>
        </form>
    </div>
</div>
</body>
{% endblock %}
    <!--      <div>-->
<!--        <input type="file" style="width: 20%" name="myfile" id="filename">-->
<!--      </div>-->